h1 {
    text-align: center;
}

h5 {
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

.body {
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
}