.mobile-carousel-container {
    width: 100%;
    touch-action: pan-y; /* Allow vertical scrolling */
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.mobile-carousel-track {
    display: flex;
    justify-content: center;
    align-items: center;
    touch-action: pan-y;
    margin: 0 auto;
}

.mobile-carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-carousel {
    width: 100%;
}

.arrowa {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 2;
    padding: 10px 15px; /* Add some padding */
}

.arrowa.left {
    right: 0px;
}

.arrowa.right {
    left: 0px;
}

/* Push arrows further out from content on mobile */
.carousel-arrow.left-arrow {
    transform: translateX(-24px);
}

.carousel-arrow.right-arrow {
    transform: translateX(24px);
}
