.services-wrapper > * {
  position: absolute;
  left: 0;
  transition: transform 0.5s ease-in-out; /* Adjust duration as needed */
  /* height: fit-content; */
  overflow-y: scroll;
}

.services-wrapper > .exiting {
  transform: translateX(100%); /* Push the exiting component offscreen */
}

.services-wrapper > .entering {
  transform: translateX(-100%); /* Bring in the new component from the right */
}
