.parent {
    position: relative; /* Add this to position the overlay text */
}

.parent:hover .childPfp,
.parent:focus .childPfp {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    filter: brightness(30%);
}

.childPfp {
    object-fit: cover;
    transition:
        transform 0.2s,
        filter 0.2s;
}

/* Add these new styles */
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none; /* This ensures the text doesn't interfere with clicking */
    font-size: 0.8em;
    text-align: center;
}

.parent:hover .overlay-text {
    opacity: 1;
}
